In [1]:
from pricing_optimizer import (
    simulate_dataset,
    prepare_features,
    train_demand_model,
    batch_optimize_prices
)

data = simulate_dataset()

In [2]:
features, target = prepare_features(data)

model, X_train, metrics = train_demand_model(features, target)
print("Model Performance:")
print(f"MSE: {metrics['mse']:.2f}")
print(f"R^2: {metrics['r2']:.2f}")

Model Performance:
MSE: 26.21
R^2: 0.95

In [4]:
optimal_prices_df = batch_optimize_prices(model, X_train)

print("Top Recommended Prices:")
optimal_prices_df.head()

Top Recommended Prices:

  product_id day_of_week  optimal_price  expected_revenue
4          A         Fri      49.438202       2473.629708
0          A         Mon      49.438202       2473.629708
5          A         Sat      49.438202       2502.964138
6          A         Sun      49.438202       2509.618799
3          A         Thu      49.438202       2507.307046